* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.cardMain {
    /*background-color: rgb(141, 75, 141);*/
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.cardMain p {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#startButton {
    margin-top: 110px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    border: 10px solid darkgray;

}

.card {
    text-align: center;
    border: 2px solid black;
    margin: 10px 10px 10px 10px;
    height: 600px;
    width: 600px;
}

h2 {
    margin-top: 140px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Ubuntu', sans-serif;
}

#questionCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card button {
    background-color: rgb(141, 75, 141);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-family: 'Ubuntu', sans-serif;
}

#answer {
    color: gray;
    font-size: 40px;
}

#timer-card {
    text-align: right;
    margin-top: 50px;
    margin-right: 100px;
}

.hide {
    display: none;
}

h4 {
    margin-top: 50px;
    margin-right: 80px;
    margin-bottom: 50px;
    margin-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid darkgray;
    font-size: 20px;
}

#final-score-page h2 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

#submit {
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
}

/* removed button-replaced funtion by adding additional click event to start challenge button
#start-timer {
    background-color: rgb(141, 75, 141);
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}*/