* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.cardMain {
    background-color: rgb(141, 75, 141);
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;

}
.card {
    text-align:center;
    border: 2px solid black;
}
.card button{
    background-color: rgb(141, 75, 141);
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#timer-card {
    text-align: right;
}

/*#start-timer {
    background-color: rgb(141, 75, 141);
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}*/
